<% provide(:title, 'Collection') %>

<body class="collection-page">
<div class="deck-icons shadow-2">
	<ul>
		<li class="icon-selected sort-icon" id="Druid"><img class="deck-sort-icon btn-floating" src="assets/druid.png"></li>
		<li class="sort-icon" id="Hunter"><img class="deck-sort-icon btn-floating" src="assets/hunter.png"></li>
		<li class="sort-icon" id="Mage"><img class="deck-sort-icon btn-floating" src="assets/mage.png"></li>
		<li class="sort-icon" id="Paladin"><img class="deck-sort-icon btn-floating" src="assets/paladin.png"></li>
		<li class="sort-icon" id="Priest"><img class="deck-sort-icon btn-floating" src="assets/priest.png"></li>
		<li class="sort-icon" id="Rogue"><img class="deck-sort-icon btn-floating" src="assets/rogue.png"></li>
		<li class="sort-icon" id="Shaman"><img class="deck-sort-icon btn-floating" src="assets/shaman.png"></li>
		<li class="sort-icon" id="Warlock"><img class="deck-sort-icon btn-floating" src="assets/warlock.png"></li>
		<li class="sort-icon" id="Warrior"><img class="deck-sort-icon btn-floating" src="assets/warrior.png"></li>
		<li class="sort-icon" id="Neutral"><img class="deck-sort-icon btn-floating" src="assets/neutral.png"></li>
	</ul>
</div>
	<div class="my-tabs">
		<div class="my-tab shadow-2">
			<h6 class="rotated tabs-text">Decks</h6>
		</div>
		<div class="my-tab shadow-2">
			<h6 class="rotated tabs-text">Custom</h6>
		</div>
	</div>
	<div class="row">
		<div class="col s12 collections-bg">
				<div class="collection-container">
				</div>
					<div class="col s9" id="class-cards">
						<ul>
							<div id="cards">
								<%= form_tag collection_path, method: "get", id: "cards-search" do %>
								<p>
									<%= text_field_tag :search, params[:search] %>
									<%= submit_tag "Search", name: nil %>
								</p>
								<% end %>
								<%= render 'coll_cards' %>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
