<% provide(:title, 'Collection') %>

<body class="collection-page">
<div class="deck-icons shadow-2">
	<ul>
		<li class="icon-selected sort-icon"><img class="deck-sort-icon btn-floating" src="assets/druid.png"></li>
		<li class="sort-icon"><img class="deck-sort-icon btn-floating" src="assets/hunter.png"></li>
		<li class="sort-icon"><img class="deck-sort-icon btn-floating" src="assets/mage.png"></li>
		<li class="sort-icon"><img class="deck-sort-icon btn-floating" src="assets/paladin.png"></li>
		<li class="sort-icon"><img class="deck-sort-icon btn-floating" src="assets/priest.png"></li>
		<li class="sort-icon"><img class="deck-sort-icon btn-floating" src="assets/rogue.png"></li>
		<li class="sort-icon"><img class="deck-sort-icon btn-floating" src="assets/shaman.png"></li>
		<li class="sort-icon"><img class="deck-sort-icon btn-floating" src="assets/warlock.png"></li>
		<li class="sort-icon"><img class="deck-sort-icon btn-floating" src="assets/warrior.png"></li>
		<li class="sort-icon"><img class="deck-sort-icon btn-floating" src="assets/neutral.png"></li>
	</ul>
</div>
	<div class="my-tabs">
		<div class="my-tab shadow-2">
			<h6 class="rotated tabs-text">Decks</h6>
		</div>
		<div class="my-tab shadow-2">
			<h6 class="rotated tabs-text">Custom</h6>
		</div>
	</div>
	<div class="row">
		<div class="col s12 collections-bg">
				<div class="collection-container">
				</div>
					<div class="col s9" id="class-cards">
						<ul>
							<div id="current-page">
								<% unless @collection.page_ids.first ==  @collection.first_card_id %>
									<%= link_to collection.prev, class:"prev-icon" do %>
									    <i class="material-icons">keyboard_arrow_left</i>
									<% end %>
								<% end %>
								<%= render @cards %>
								<% unless @collection.page_ids.last ==  @collection.last_card_id %>
								<%= link_to collection_path, class: "next-icon" do %>
								    <i class="material-icons">keyboard_arrow_right</i>
								<% end %>
								<% end %>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
