<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Hearth Helper</h1>
  <h2>
    This is the home page for Hearth Helper.
  </h2>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
