<% provide(:title, "Home") %>
<body class="home-page">
	<div class="row home-wrap">
		<div class="col s12 splash-wrap">
			<div class="splash-info">
				<h3>Hey, need some help tracking your collection?</h3>
				<p>Yeah, we can do that</p>
				<a><%= link_to "Signup or login", login_path, class: "btn waves-effect waves-light" %></a>
			</div>
		</div>
	</div>
	<div class="row intro-wrap1 z-depth-0">
		<div class="col s12 center-align">
			<h3>What does Hearth Helper do?</h3>
		</div>
		<div class="col s12 l4 center-align">
			<div class="feature  hoverable">
				<i class="material-icons large">track_changes</i>
				<p>Hearth Helper allows you to track your in-game collection with our intuitive deck manager</p>
			</div>
		</div>
		<div class="col s12 l4 center-align">
			<div class="feature  hoverable">
				<i class="material-icons large">equalizer</i>
				<p>Hearth Helper then compares your collection to the best and most popular decks in Hearthstone</p>
			</div>
		</div>
		<div class="col s12 l4 center-align z-depth-0">
			<div class="feature  hoverable">
				<i class="material-icons large">trending_up</i>
				<p>Finally, Hearth Helper will show you which decks will get you the most bang for your buck! </p>
			</div>
		</div>
	</div>
	<div class="row intro-wrap2">
		<div class="left-picture col s6">
		</div>
		<div class="info-right col s6 valign-wrapper">
			<div class="col s12 left-align valign">
				<h3>Why would I use Hearth Helper?</h3>
			</div>
			<div class="col s12 left-align valign">
				<p>Because you’re clever! And you’re pretty! But really, Hearth Helper takes the hassle out of tracking what decks you want to build and lets you know when you can craft them. We are even displying the most popular decks according to TempoStorm, so you can stay on top of what’s hot. </p>
			</div>
		</div>
	</div>
	<div class="row intro-wrap3">
		<div class="info-left col s6">
			<div class="col s12">
				<h3>Hey everyone, get in here!</h3>
			</div>
			<div class="col s12">
				<p>So are you ready to become that much more efficient with your dust and your time? Of course you are. Lets get tracking shall we?</p>
				<a><%= link_to "Signup or login", login_path, class: "btn waves-effect waves-light" %></a>
			</div>
		</div>
		<div class="right-picture col s6"></div>
	</div>

