/******   Crosspage Styles   ******/

html{
	font-family: 'Raleway', sans-serif;
	color:white;
}

nav{
	color:black;
	background:rgba(0,0,0,0);
	width:99vw;
	font-weight:500;
	border: 0px;
}


.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav{
	box-shadow: none;
}

nav ul:nth-child(2){
	padding:0 40px;
}

nav ul a{
	font-size: 1.2em;
}

.navbar-fixed{
	height:0;
}

.brand-logo{
	font-weight: 700;
}

.btn{
	background-color: transparent;
	color:white;
	border: thin solid white;
	font-weight:600;
	margin:30px 0;
}

.btn:hover{
	background-color: transparent;
}

.row .col{
	padding: 0;
	margin-bottom: 0;
}

.gap6{
	min-width: 50%;
}

hr {
    display: block;
    height: 6px;
    border: 0;
    border-top: 6px solid #000;
    margin: 1em 0;
    padding: 0;
}

.half{
	width:50%;
}

.fourth{
	width:25%;
}





/******   Splash Page Styles   ******/

.splash-wrap{
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://wallpaperscraft.com/image/hearthstone_hearthstone_heroes_of_warcraft_activision_blizzard_gnomes_goblins_art_98087_1920x1080.jpg');
	height:100vh;
	width:99vw;
	margin:0;
	padding:0;
}

.splash-wrap h2{

}

.splash-info{
	margin:18% 25%;
	width: 100%px;
	text-align: center;
	/*margin:0 50%;*/
}

.splash-info h2{
	font-weight: 800;
}

.intro-wrap1{
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('http://i1-news.softpedia-static.com/images/news2/Blizzard-Gives-Hearthstone-Players-3-Boosters-to-Celebrate-Goblins-vs-Gnomes-Launch-466938-7.jpg');
	background-size:cover;
	height:100vh;
	width:99vw;
	margin:0;
	padding:0;
}


.intro-wrap1 h1{
	font-size: 7.5em;
	font-weight: 900;
	margin: 20% 0 0 5%;
	//border-bottom: thick solid white;
	padding-bottom: 10px
}

.intro-wrap1 h4{
	font-weight: 500;
	margin: 5% 0 0 5%;
}

.intro-wrap2{
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://wallpaperscraft.com/image/paladin_hearthstone_uther_95376_1920x1080.jpg');
	background-size:cover;
	height:100vh;
	width:99vw;
	margin:0;
	padding:0;
}


.intro-wrap2 h1{
	font-size: 7.5em;
	font-weight: 900;
	margin: 20% 5% 0 0;
	//border-bottom: thick solid white;
	padding-bottom: 10px;
	text-align: right;
}

.intro-wrap2 h4{
	font-weight: 500;
	margin: 5% 5% 0 0;
	text-align: right;
}

.intro-wrap3{
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('http://www.hearthstonetopdecks.com/images/wallpaper/wilfred-fizzlebang-wp-1920x1080.jpg');
	background-size:cover;
	height:100vh;
	width:99vw;
	margin:0;
	padding:0;
	text-align: center;
}


.intro-wrap3 h1{
	font-size: 7.5em;
	font-weight: 900;
	margin: 15% 0 0 0;
	//border-bottom: thick solid white;
	padding-bottom: 10px;
}

.intro-wrap3 h4{
	font-weight: 500;
	margin: 2% 15% 5% 15%;

}



/******   Login Styles   ******/

.login-wrap{
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('http://i.imgur.com/xfk1vYW.png');
	height:100vh;
	width:99vw;
	margin:0;
	padding:0;
	position:fixed;
}

.login-signup{
	position:absolute;
	width: 400px;
	top:20%;
	bottom:0;
	left:0;
	right:0;
	margin:auto auto;
	/*margin:0 50%;*/
}

.login-signup h4{
	display: inline-block;
	text-align: center;
	font-weight:900;
	font-size: 2.5em;
}

.login-signup h4:hover{
	cursor:pointer;
	cursor:hand;
}

.login-signup h4:nth-child(1){
	margin: 20px 40px 20px 0;
}

.login-signup h4:nth-child(2){
	margin:20px 0 20px 40px;
}

.login-selected{
	border-bottom: medium solid #fff;
	padding-bottom: 5px;
	color:rgba(255, 255, 255, 1);
}

.login-notselected{
	color:rgba(255, 255, 255, .4);
}

#signup-button, #login-button{
	width:100%;
	

}

.row .col .s5 img{
	width:100%;
}

/******   Home Page Styles   ******/

.white-bg nav{
	background-color: white;
}
.white-bg nav ul a, .white-bg .brand-logo{
	color: black;
}

.user{
	color:black;
}

.data, .actions{
	margin:12% 0 0 0;
}

.info{
	margin: 8% 0 0 0;
}

.user h1{
	margin:0;
	font-weight: 900;
	padding:0 0 0 15%;
}

.data{
	text-align: center;
}

.user .circle{
    width:150px;
    height:150px;
    border-radius:250px;
    font-size: 2em;
    color:#fff;
    line-height:150px;
    text-align:center;
    background:#000;
    display: inline-block;
    margin: 0 2% 0 0;
    text-align: center;
}

.user .btn{
	float:left;
	width:90%;
	color:black;
	border-color: black;
	margin: 10px;
}

.user hr{
	margin: 2% 0 0 15%;
}

.user h2{
	margin:2% 0 0 0;
	font-size: 3em;
	font-weight: 300;
	font-style: italic;
	padding:0 0 0 15%;
}

.deck{
	border: 1px solid black;
}

.tracked-deck{
	margin:0 0 0 8%;
	color:black;
	overflow:auto;
	padding:5px 5px 5px 5px;
}

.tracked-deck h6{
	font-size: 1.3em;
	font-weight: 500;
	padding: 0 0 0 1em;
	display:inline-block;
	float:left;
	width:50%;
	line-height: .8em;
}

.tracked-deck .deck-icon{
	display:inline-block;
	float:left;
	width:22%;
}

.deck-info .progress{
	width:70%;
	left:1.2em;
	top:.9em;
}

.decks{
	margin: 100px 0 0 0;
}

.decks .btn{
	height:inherit;
	text-transform: none;
	padding: 5px 10px 0px 15px;
	text-align: left;
}


/******   Deck Page Styles   ******/

.deck-page .decks{
	margin:0;
	padding:20px 0 0 0;
}

.decks h2{
	font-weight: 700;
	color:black;
	margin:0 8% 0 8%;
}

.decks hr{
	margin: 0 8% 5% 8%;
}

.deck-page .decks .btn{
	padding:10px 10px;
}

.deck-sort-icon{
    width:50px;
    height:50px;
    border-radius:250px;
    font-size: 2em;
    line-height:50px;
    text-align:center;
    display: inline-block;
    text-align: center;
    opacity:.5;
}

.deck-sort-icon:hover{
	opacity:1;
}

.sort-search{
	padding:80px 0 0 0;
	margin: 0 58px 0 58px;
}

.btn-floating{
	background-color: #fff;
}

.sort-search input{
	width:35%;
	float:right;
	color:black;
	text-align: right;
	font-size: 1em;
}

.sort-search i{
	color:black;
	float:right;
}